@media(max-width:320px) and (max-width:767px) {
    .header{
        flex-wrap: nowrap;
        height: 74px;
        padding-left: 10px;
    }
    .header__left{
        gap: 10px;
    }
    .header__link-site{
        display: none;
    }
    .header__right{
        padding-right: 10px;
    }
    .promo__img{
        display: none;
    }
    .promo__info{
        margin-top: 0px;
    }
    .promo__content{
        padding-left: 0px;
    }

    .promo{
        height: 363px;
        top: 74px;
        justify-content: center;
        align-items: center;
    }
    .promo__title{
        font-family: Lato;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
    .promo__heading{
        font-family: Lato;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }

    .sale{
        grid-template-columns: none;
    }
    .sale__item_big{
        display: none;
    }
    .product-box__content{
        display: block;
    }
}