@media(max-width:768px) and (max-width:1024px) {
    .header__left{
        padding-left: 50px;
    }
    .header__right{
        padding-right: 50px;
    }
    .promo__content {
        padding-left: 0px;
        Width: 311px;
        Height: 92px;
        Top: 212.48px;
        Left: 425px;
    }
    .promo__info {
        margin-top: 30%;
    }
    .promo__title{
        margin-bottom: 0px;
        size: 44px;
        line-height: 52.8px;
    }
    .promo__heading{
        margin-top: 0px;
        size: 24px;
        line-height: 28.8px;
    }
    .sale{
        gap:10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .product-box{
        margin-left: 10px;
        margin-right: 10px;
    }
    .product-box__content{
        gap: 5px;
    }
    .sale__text{
        Size: 16px;
        Line-height: 19.2px;
        margin-bottom: 0px;
    }
    .sale__heading{
        margin-top: 0px;
        Size: 24px;
        Line-height: 28.8px;
    }
    .sale__item_big {
        min-height: 0px;
    }
    .bottom{
        width: 768px;
        height: 693px;
        top: 3580px;
        flex-direction: column;
        gap: 50px;
    }
    .advantages center{
        flex-direction: column;
    }
}
@media(max-width:320px) and (max-width:767px) {
    .header{
        flex-wrap: nowrap;
    }
    
}

@media(max-width:320px) and (max-width:767px) {
    .header{
        flex-wrap: nowrap;
        height: 74px;
    }
    .header__left{
        gap: 10px;
        padding-left: 10px;
    }
    .header__link-site{
        display: none;
    }
    .header__right{
        padding-right: 10px;
    }
    .promo__img{
        display: none;
    }
    .promo__info{
        margin-top: 0px;
    }
    .promo__content{
        padding-left: 0px;
    }

    .promo{
        height: 363px;
        top: 74px;
        justify-content: center;
        align-items: center;
    }
    .promo__title{
        font-family: Lato;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
    .promo__heading{
        font-family: Lato;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }

    .sale{
        grid-template-columns: none;
    }
    .sale__item_big{
        display: none;
    }
    .product-box__content{
        display: block;
    }
    .bottom{
        width: 320px;
        height: 767px;
        top: 5988px;
        flex-direction: column;
        gap: 50px;
    }
    .sub_info{
        width: 343px;
        height: 194px;
        top: 6052px;
        left: 16px;

    }
    .sub{
        width: 341px;
        height: 123px;
    }
    .sub_text{
        font-size: 12px;
    }
}