body{
    background: #FFF;
    width: 1920px;
    height: 700px;
}

.meun_bar{
    padding-left: 375px;
    padding-top: 45px;
    width: 1170px;
    height: 40px;
    display: flex;
}


.meun_img{
    width: 35px;
    height: 40px;
    display: flex;
}

.meun_text{
    width: 533px;
    height: 40px;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_text{
    color: #F25822;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    margin-right: 500px;
    margin-left: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    justify-content: space-around;
    align-items: center;
}

.meun_logo{
    display: flex;
}
.top_content{
    display: flex;
    padding-left: 375px;
    padding-right: 375 px;
    margin-top: 96px;
    margin-bottom: 162px;
}
.left_top{
    width: 522px;
    height: 374px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}
.right_top{
    width: 610px;
    height: 372px;
    display: flex;
    justify-content: flex-end;
}
.title_top{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 17px;
    width: 522px;
    height: 222px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.text_top{
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 466px;
    height: 48px;
    margin-top: 0px;
    margin-bottom: 37px;
}
.text_button_top1{
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 140px;
    height: 50px;
    border: 0px;
    margin-right: 72px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);;
}

.text_button_top2{
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    background: #FFF;
}
.button_top{
    width: 302px;
    height: 50px;
    display: flex;
}

.brand{
    padding-top: 97px;
    display: flex;
    padding-left: 345px;
    padding-right: 375px;
    justify-content: space-around;
}